.Book{
    width : 80%;
    height : 170px;
    overflow: hidden; /* hides any overflowing content */
    margin-top : 10px;
    border : 1px solid #eee;
    box-shadow: 0 4px 6px #ccc;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    /* display: flex; */
}

.Book:hover{
    box-shadow: 0px 6px 10px #aaa;
}

.Book p{
    color : grey;
    font-size: 12px;
}

.Book img{
    float: left;
    box-shadow: 0px 5px 10px #aaa;
    border-radius: 5px;
    height: inherit;
}

.Book img:hover{
    float: left;
    box-shadow: 0px 10px 20px #aaa;
    border-radius: 5px;
}


.details{
    /* float:auto; */
    margin: auto;
    max-height: inherit;
    display: block;
}